<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label">Entrez l'addresse voulue</label>
        <input
          type="text"
          class="form-control"
          (keydown.enter)="$event.preventDefault()"
          placeholder="Search Nearest Location"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          type="text"
          #search
          [(ngModel)]="searchedPosition.address"
        />
      </div>
      <div class="form-group">
        <label class="form-label">Sélectionner les points d'intérêts</label>
        <ng-multiselect-dropdown
          class="col-xl-8 col-sm-7 m-0 p-0"
          [placeholder]="'-- Selectionner --'"
          [settings]="piDropdownSettings"
          [data]="piDropdownList"
        >
          <ng-template
            #optionsTemplate
            let-item
            let-option="option"
            let-id="id"
            let-isSelected="isSelected"
          >
            <div
              style="
                padding: 1px 10px;
                margin-right: 10px;
                right: 2px;
                top: -2px;
              "
            >
              <img
                [src]="getPI[id].image"
                style="width: 18px; margin: 0 20px"
              />
              <label
                style="color: #333; min-width: 130px"
                [ngStyle]="{ color: getPI[id].isDisabled ? 'lightgrey' : '' }"
              >
                {{ getPI[id].item_text }}
              </label>
            </div>
          </ng-template>
          <ng-template #optionSelectedTemplate let-option="option" let-id="id">
            <div>
              <img
                [src]="getPI[id].image"
                style="width: 18px; margin-right: 2px"
              />
              {{ option }}
            </div>
          </ng-template>
        </ng-multiselect-dropdown>
      </div>

      <div class="form-group">
        <label class="form-label">Choisissez le rayon</label>
        <ng-multiselect-dropdown
          [placeholder]="'custom placeholder'"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-center">
          <h4 class="my-0 fw-normal">Position Actuelle</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            {{ searchedPosition.address }}
          </h5>
          <ul class="mt-3 mb-4">
            <li>Latitude: {{ searchedPosition.lat }}</li>
            <li>Longitude: {{ searchedPosition.lng }}</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-center">
          <h4 class="my-0 fw-normal">Itinéraire</h4>
        </div>
        <div class="card-body">
          <ul class="mt-3 mb-4">
            <li>Départ: {{ startAddress }}</li>
            <li>Arrivée: {{ endAddress }}</li>
            <li>Distance: {{ distanceItineraire }}</li>
            <li>Durée: {{ dureeItineraire }}</li>
          </ul>
          <a
            href="javascript:;"
            class="mr-2 btn btn-success"
            (click)="drawDirection()"
          >
            <i class="fa fa-road"></i> Calculer</a
          >
          <a
            href="javascript:;"
            class="btn btn-info"
            *ngIf="isDrew"
            (click)="clearDirection()"
          >
            <i class="fa fa-broom"></i> Effacer</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <agm-map
        [maxZoom]="agmOpt.maxZoom"
        [minZoom]="agmOpt.minZoom"
        [latitude]="searchedPosition.lat"
        [longitude]="searchedPosition.lng"
        [zoom]="agmOpt.zoom"
        [styles]="agmOpt.styles"
      >
        <agm-marker
          [latitude]="searchedPosition.lat"
          [longitude]="searchedPosition.lng"
          (markerClick)="clickMarker(starterInfowindow)"
          (dragEnd)="dragEndMarker($event)"
          [markerDraggable]="true"
        >
          <agm-info-window [disableAutoPan]="false" #starterInfowindow>
            <div>
              <h4>{{ searchedPosition.address }}</h4>
              <p>Latitude: {{ searchedPosition.lat }}</p>
              <p>Longitude: {{ searchedPosition.lng }}</p>
            </div>
          </agm-info-window>
        </agm-marker>
        <agm-marker
          *ngFor="let marker of listEventData"
          [latitude]="marker.GPSPoint_lat"
          [longitude]="marker.GPSPoint_lon"
          [agmFitBounds]="true"
          [label]="{
            fontSize: '16px',
            fontWeight: 'bold',
            color: 'black',
            text: marker.markerDescription
          }"
          [iconUrl]="marker.icon"
          (markerClick)="clickMarker(infowindow, marker)"
        >
          <agm-info-window [disableAutoPan]="false" #infowindow>
            <div>
              <h4>{{ marker.markerDescription }}</h4>
              <p>Address: {{ marker.Address }}</p>
              <p>Distance: {{ marker.distanceBetween | number: "1.0-2" }} Km</p>
            </div>
          </agm-info-window>
        </agm-marker>
        <agm-direction
          *ngIf="startPosition && endPosition"
          [origin]="startPosition"
          [destination]="endPosition"
          [visible]="isDrew"
          [travelMode]="travelMode"
          (onChange)="onChange($event)"
          [renderOptions]="renderOptions"
        >
        </agm-direction>
      </agm-map>
    </div>
  </div>
</div>
